service cloud.firestore {
  match /databases/{database}/documents {

    // Zasady bezpieczeństwa dla użytkowników
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Zasady bezpieczeństwa dla kolekcji games (statystyki graczy)
    match /games/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;  // Użytkownik może odczytać tylko swoje statystyki
      allow write: if request.auth != null && request.auth.uid == userId;  // Użytkownik może zapisać tylko swoje statystyki
    }
  }
}
